@import "tailwindcss";

@theme {
    --color-cobalt-50: #eff6ff;
    --color-cobalt-100: #e0e7ff;
    --color-cobalt-200: #c7d2fe;
    --color-cobalt-300: #a5b4fc;
    --color-cobalt-400: #818cf8;
    --color-cobalt-500: #2563eb;
    --color-cobalt-600: #0047ab;
    --color-cobalt-700: #003580;
    --color-cobalt-800: #1e40af;
    --color-cobalt-900: #1e3a8a;
    
    --font-sans: "Inter", sans-serif;
}

body {
    background-color: var(--color-white);
    color: var(--color-gray-900);
    -webkit-font-smoothing: antialiased;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}
